<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">

	<title>社員情報新規登録・編集</title>
</head>

<body class="bg-light">
<div th:replace="~{com/COM10::COM10}"></div>
<div class="container bg-white shadow-sm border mx-auto py-3 my-3" style="max-width: 45em;">

	<div class="m-3">
	<h1>社員情報登録</h1>

		<form method="post" action="/employee/regist">

			<!-- 各注意文を表示する-->
			<div class="text-danger" th:text="${Result}"></div>

			<div class="form-group row">
			<div class="col-md-2">
				<label class="font-weight-bold">所属選択</label>
			</div>
			<div class="col-md-auto input-group-sm">
			<input type="hidden" id="employeeId" class="form-control ml-3" name="employee_id" th:value="${session.e_id}" >
			<label  style="line-height:0rem;" class="small font-weight-bold" for="select1a">グループ</label>
			<select id="select1a" class="form-control" name="e_group">

				<!-- ★th:selectedを利用することで、編集時の初期値を制御 -->
				<option th:selected="${#strings.substringBefore(employee_category,'g')} == null">グループを選択</option>
				<option value="scg"
					th:selected="${#strings.substringBefore(employee_category,'g')} == 'sc'">SCG</option>
				<option value="ccg"
					th:selected="${#strings.substringBefore(employee_category,'g')} == 'cc'">CCG</option>
			</select>
			</div>

			<div class="col-md-auto input-group-sm">
			<label style="line-height:0rem;" class="small font-weight-bold" for="select2a">エリア</label>
			<select id="select2a" class="form-control" name="e_team">
				<option
					th:selected="${#strings.substringAfter(employee_category,'g')} == null">エリアを選択</option>
				<option value="h0"
					th:selected="${#strings.substringAfter(employee_category,'g')} == 'h0'">浜松</option>
				<option value="t0"
					th:selected="${#strings.substringAfter(employee_category,'g')} == 't0'">東京</option>
			</select>
			</div>
			</div>

			<div class="form-group row">
			<div class="col-md-auto input-group-sm">
				<label style="line-height:0rem;" class="small font-weight-bold" for="employeeName">社員名</label>
				<input type="text" id="employeeName" class="form-control" name="e_name"
					style="width: 20em;" th:value="${employee_name}">
				<div class="my-3">
					<button type="submit" class="btn btn-outline-primary"
						th:if="${session.e_id == null}">登録</button>
					<button type="submit" class="btn btn-outline-primary ml-1"
						th:if="${session.e_id != null}">編集</button>
					<button type="button" class="btn btn-outline-primary ml-1"
						onclick="location.href='/employee/list'">キャンセル</button>
				</div>
			</div>
			</div>
		</form>
	</div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
</body>

</html>
